.nav_header{
    background-color: rgba(0, 0, 0, .85);
}

.nav_header a{
    color: #8e8e8e;
    text-decoration: none;
}

.nav_header a:hover {
    color: white;
}

.full{
    width:100%;
}

.max{
    max-width: 1000px;
}